body{
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

#gameCanvas {
    background-color: #fff;
    display: block;
    margin: 20px auto;
    border: 2px solid black;
}

#theScore {
    font-size: 20px;
    margin-top: 10px;
}

#gameOver {
    color: red;
    font-size: 24px;
    font-weight: bolder;
}